<h2><em>Add a new card here!</em></h2>

<%= form_tag({controller: "businesses", action: "do_add_card"}, method: "patch", class: "add_card_form") do %>
  <%= label_tag(:phone_number, "Customer's name: ") %>
  <%= text_field_tag(:customer_name)%></br>
  <%= label_tag(:phone_number, "Customer's phone number: ") %>
  <%= text_field_tag(:phone_number)%></br>
  <%= label_tag(:points, "Points earned:") %>
  <%= text_field_tag(:points) %></br>
  <%= submit_tag("Add card") %>
<% end %>
<%= link_to "Back to business homepage", business_options_path %>

