<h1><em>Sign up for Businesses</em></h1>

  <%= form_for(@business) do |f| %>
    <%= f.text_field :business, :placeholder => "Business name" %><br />
    <%= f.email_field :email, :placeholder => "Email" %><br />
    <%= f.password_field :password, :placeholder => "Password" %><br />
    <%= f.file_field :bizlogo %> <br />
    <%= f.submit "Sign Up", class: "btn-submit" %>
  <% end %>